@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C100%3B0%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Roboto%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-4eTQSpY_wkr_font-family: "Inter", sans-serif;
  --mixin-4eTQSpY_wkr_font-size: 16px;
  --mixin-4eTQSpY_wkr_font-weight: 400;
  --mixin-4eTQSpY_wkr_font-style: normal;
  --mixin-4eTQSpY_wkr_color: #535353;
  --mixin-4eTQSpY_wkr_text-align: left;
  --mixin-4eTQSpY_wkr_text-transform: none;
  --mixin-4eTQSpY_wkr_line-height: 1.5;
  --mixin-4eTQSpY_wkr_letter-spacing: normal;
  --mixin-4eTQSpY_wkr_white-space: pre-wrap;
  --mixin-4eTQSpY_wkr_user-select: text;
  --mixin-4eTQSpY_wkr_text-decoration-line: none;
  --mixin-4eTQSpY_wkr_text-overflow: clip;
  --mixin-c6sRGvsqJgt_color: #000000;
  --mixin-c6sRGvsqJgt_font-weight: 700;
  --mixin-c6sRGvsqJgt_font-size: 64px;
  --mixin-c6sRGvsqJgt_line-height: 1;
  --mixin-c6sRGvsqJgt_letter-spacing: -1px;
  --mixin-c6sRGvsqJgt_white-space: pre-wrap;
  --mixin-EMZVHRTd4Md_color: #000000;
  --mixin-EMZVHRTd4Md_font-size: 48px;
  --mixin-EMZVHRTd4Md_font-weight: 700;
  --mixin-EMZVHRTd4Md_letter-spacing: -0.5px;
  --mixin-EMZVHRTd4Md_line-height: 1.1;
  --mixin-EMZVHRTd4Md_white-space: pre-wrap;
  --mixin-w-wEwEV9ZC-_color: #0070f3;
  --mixin-w-wEwEV9ZC-_white-space: pre-wrap;
  --mixin-faZnTFeKmVn_color: #000000;
  --mixin-faZnTFeKmVn_font-size: 32px;
  --mixin-faZnTFeKmVn_font-weight: 600;
  --mixin-faZnTFeKmVn_line-height: 1.2;
  --mixin-faZnTFeKmVn_white-space: pre-wrap;
  --mixin-guWbgwRHNRY_color: #000000;
  --mixin-guWbgwRHNRY_font-size: 24px;
  --mixin-guWbgwRHNRY_font-weight: 600;
  --mixin-guWbgwRHNRY_line-height: 1.3;
  --mixin-guWbgwRHNRY_white-space: pre-wrap;
  --mixin-uNTFQyf8Ti4_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-uNTFQyf8Ti4_border-bottom-color: #dddddd;
  --mixin-uNTFQyf8Ti4_border-bottom-style: solid;
  --mixin-uNTFQyf8Ti4_border-bottom-width: 1px;
  --mixin-uNTFQyf8Ti4_border-left-color: #dddddd;
  --mixin-uNTFQyf8Ti4_border-left-style: solid;
  --mixin-uNTFQyf8Ti4_border-left-width: 1px;
  --mixin-uNTFQyf8Ti4_border-right-color: #dddddd;
  --mixin-uNTFQyf8Ti4_border-right-style: solid;
  --mixin-uNTFQyf8Ti4_border-right-width: 1px;
  --mixin-uNTFQyf8Ti4_border-top-color: #dddddd;
  --mixin-uNTFQyf8Ti4_border-top-style: solid;
  --mixin-uNTFQyf8Ti4_border-top-width: 1px;
  --mixin-uNTFQyf8Ti4_border-bottom-left-radius: 3px;
  --mixin-uNTFQyf8Ti4_border-bottom-right-radius: 3px;
  --mixin-uNTFQyf8Ti4_border-top-left-radius: 3px;
  --mixin-uNTFQyf8Ti4_border-top-right-radius: 3px;
  --mixin-uNTFQyf8Ti4_font-family: "Inconsolata";
  --mixin-uNTFQyf8Ti4_padding-bottom: 1px;
  --mixin-uNTFQyf8Ti4_padding-left: 4px;
  --mixin-uNTFQyf8Ti4_padding-right: 4px;
  --mixin-uNTFQyf8Ti4_padding-top: 1px;
  --mixin-uNTFQyf8Ti4_white-space: pre-wrap;
  --mixin-mU4lzLXAZge_border-left-color: #dddddd;
  --mixin-mU4lzLXAZge_border-left-style: solid;
  --mixin-mU4lzLXAZge_border-left-width: 3px;
  --mixin-mU4lzLXAZge_color: #888888;
  --mixin-mU4lzLXAZge_padding-left: 10px;
  --mixin-mU4lzLXAZge_white-space: pre-wrap;
  --mixin-F7p_j9k6F4L_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-F7p_j9k6F4L_border-bottom-color: #dddddd;
  --mixin-F7p_j9k6F4L_border-bottom-style: solid;
  --mixin-F7p_j9k6F4L_border-bottom-width: 1px;
  --mixin-F7p_j9k6F4L_border-left-color: #dddddd;
  --mixin-F7p_j9k6F4L_border-left-style: solid;
  --mixin-F7p_j9k6F4L_border-left-width: 1px;
  --mixin-F7p_j9k6F4L_border-right-color: #dddddd;
  --mixin-F7p_j9k6F4L_border-right-style: solid;
  --mixin-F7p_j9k6F4L_border-right-width: 1px;
  --mixin-F7p_j9k6F4L_border-top-color: #dddddd;
  --mixin-F7p_j9k6F4L_border-top-style: solid;
  --mixin-F7p_j9k6F4L_border-top-width: 1px;
  --mixin-F7p_j9k6F4L_border-bottom-left-radius: 3px;
  --mixin-F7p_j9k6F4L_border-bottom-right-radius: 3px;
  --mixin-F7p_j9k6F4L_border-top-left-radius: 3px;
  --mixin-F7p_j9k6F4L_border-top-right-radius: 3px;
  --mixin-F7p_j9k6F4L_font-family: "Inconsolata";
  --mixin-F7p_j9k6F4L_padding-bottom: 3px;
  --mixin-F7p_j9k6F4L_padding-left: 6px;
  --mixin-F7p_j9k6F4L_padding-right: 6px;
  --mixin-F7p_j9k6F4L_padding-top: 3px;
  --mixin-F7p_j9k6F4L_white-space: pre-wrap;
  --mixin-1cFPtWnpH2v_display: flex;
  --mixin-1cFPtWnpH2v_flex-direction: column;
  --mixin-1cFPtWnpH2v_align-items: stretch;
  --mixin-1cFPtWnpH2v_justify-content: flex-start;
  --mixin-1cFPtWnpH2v_list-style-position: outside;
  --mixin-1cFPtWnpH2v_padding-left: 40px;
  --mixin-1cFPtWnpH2v_position: relative;
  --mixin-1cFPtWnpH2v_list-style-type: disc;
  --mixin-1cFPtWnpH2v_white-space: pre-wrap;
  --mixin-Zu-4KZk5Akb_display: flex;
  --mixin-Zu-4KZk5Akb_flex-direction: column;
  --mixin-Zu-4KZk5Akb_align-items: stretch;
  --mixin-Zu-4KZk5Akb_justify-content: flex-start;
  --mixin-Zu-4KZk5Akb_list-style-position: outside;
  --mixin-Zu-4KZk5Akb_padding-left: 40px;
  --mixin-Zu-4KZk5Akb_position: relative;
  --mixin-Zu-4KZk5Akb_list-style-type: decimal;
  --mixin-Zu-4KZk5Akb_white-space: pre-wrap;
  --mixin-d-1_wEObP6__color: #000000;
  --mixin-d-1_wEObP6__font-size: 20px;
  --mixin-d-1_wEObP6__font-weight: 600;
  --mixin-d-1_wEObP6__line-height: 1.5;
  --mixin-d-1_wEObP6__white-space: pre-wrap;
  --mixin-AM45qrRzwic_color: #000000;
  --mixin-AM45qrRzwic_font-size: 16px;
  --mixin-AM45qrRzwic_font-weight: 600;
  --mixin-AM45qrRzwic_line-height: 1.5;
  --mixin-AM45qrRzwic_white-space: pre-wrap;
  --mixin-pyTY8yivvBA_color: #3291ff;
  --mixin-pyTY8yivvBA_white-space: pre-wrap;
  --mixin-FfYK02mRsIz_white-space: pre-wrap;
  --mixin-VFLkO_QEcvh_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-4eTQSpY_wkr_font-family);
  font-size: var(--mixin-4eTQSpY_wkr_font-size);
  font-weight: var(--mixin-4eTQSpY_wkr_font-weight);
  font-style: var(--mixin-4eTQSpY_wkr_font-style);
  color: var(--mixin-4eTQSpY_wkr_color);
  text-align: var(--mixin-4eTQSpY_wkr_text-align);
  text-transform: var(--mixin-4eTQSpY_wkr_text-transform);
  line-height: var(--mixin-4eTQSpY_wkr_line-height);
  letter-spacing: var(--mixin-4eTQSpY_wkr_letter-spacing);
  white-space: var(--mixin-4eTQSpY_wkr_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-c6sRGvsqJgt_color);
  font-weight: var(--mixin-c6sRGvsqJgt_font-weight);
  font-size: var(--mixin-c6sRGvsqJgt_font-size);
  line-height: var(--mixin-c6sRGvsqJgt_line-height);
  letter-spacing: var(--mixin-c6sRGvsqJgt_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-EMZVHRTd4Md_color);
  font-size: var(--mixin-EMZVHRTd4Md_font-size);
  font-weight: var(--mixin-EMZVHRTd4Md_font-weight);
  letter-spacing: var(--mixin-EMZVHRTd4Md_letter-spacing);
  line-height: var(--mixin-EMZVHRTd4Md_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-w-wEwEV9ZC-_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-faZnTFeKmVn_color);
  font-size: var(--mixin-faZnTFeKmVn_font-size);
  font-weight: var(--mixin-faZnTFeKmVn_font-weight);
  line-height: var(--mixin-faZnTFeKmVn_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-guWbgwRHNRY_color);
  font-size: var(--mixin-guWbgwRHNRY_font-size);
  font-weight: var(--mixin-guWbgwRHNRY_font-weight);
  line-height: var(--mixin-guWbgwRHNRY_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-uNTFQyf8Ti4_font-family);
  border-radius: var(--mixin-uNTFQyf8Ti4_border-top-left-radius)
    var(--mixin-uNTFQyf8Ti4_border-top-right-radius)
    var(--mixin-uNTFQyf8Ti4_border-bottom-right-radius)
    var(--mixin-uNTFQyf8Ti4_border-bottom-left-radius);
  padding: var(--mixin-uNTFQyf8Ti4_padding-top)
    var(--mixin-uNTFQyf8Ti4_padding-right)
    var(--mixin-uNTFQyf8Ti4_padding-bottom)
    var(--mixin-uNTFQyf8Ti4_padding-left);
  border-top: var(--mixin-uNTFQyf8Ti4_border-top-width)
    var(--mixin-uNTFQyf8Ti4_border-top-style)
    var(--mixin-uNTFQyf8Ti4_border-top-color);
  border-right: var(--mixin-uNTFQyf8Ti4_border-right-width)
    var(--mixin-uNTFQyf8Ti4_border-right-style)
    var(--mixin-uNTFQyf8Ti4_border-right-color);
  border-bottom: var(--mixin-uNTFQyf8Ti4_border-bottom-width)
    var(--mixin-uNTFQyf8Ti4_border-bottom-style)
    var(--mixin-uNTFQyf8Ti4_border-bottom-color);
  border-left: var(--mixin-uNTFQyf8Ti4_border-left-width)
    var(--mixin-uNTFQyf8Ti4_border-left-style)
    var(--mixin-uNTFQyf8Ti4_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-mU4lzLXAZge_color);
  padding-left: var(--mixin-mU4lzLXAZge_padding-left);
  border-left: var(--mixin-mU4lzLXAZge_border-left-width)
    var(--mixin-mU4lzLXAZge_border-left-style)
    var(--mixin-mU4lzLXAZge_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-F7p_j9k6F4L_font-family);
  border-radius: var(--mixin-F7p_j9k6F4L_border-top-left-radius)
    var(--mixin-F7p_j9k6F4L_border-top-right-radius)
    var(--mixin-F7p_j9k6F4L_border-bottom-right-radius)
    var(--mixin-F7p_j9k6F4L_border-bottom-left-radius);
  padding: var(--mixin-F7p_j9k6F4L_padding-top)
    var(--mixin-F7p_j9k6F4L_padding-right)
    var(--mixin-F7p_j9k6F4L_padding-bottom)
    var(--mixin-F7p_j9k6F4L_padding-left);
  border-top: var(--mixin-F7p_j9k6F4L_border-top-width)
    var(--mixin-F7p_j9k6F4L_border-top-style)
    var(--mixin-F7p_j9k6F4L_border-top-color);
  border-right: var(--mixin-F7p_j9k6F4L_border-right-width)
    var(--mixin-F7p_j9k6F4L_border-right-style)
    var(--mixin-F7p_j9k6F4L_border-right-color);
  border-bottom: var(--mixin-F7p_j9k6F4L_border-bottom-width)
    var(--mixin-F7p_j9k6F4L_border-bottom-style)
    var(--mixin-F7p_j9k6F4L_border-bottom-color);
  border-left: var(--mixin-F7p_j9k6F4L_border-left-width)
    var(--mixin-F7p_j9k6F4L_border-left-style)
    var(--mixin-F7p_j9k6F4L_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-1cFPtWnpH2v_display);
  flex-direction: var(--mixin-1cFPtWnpH2v_flex-direction);
  align-items: var(--mixin-1cFPtWnpH2v_align-items);
  justify-content: var(--mixin-1cFPtWnpH2v_justify-content);
  list-style-position: var(--mixin-1cFPtWnpH2v_list-style-position);
  padding-left: var(--mixin-1cFPtWnpH2v_padding-left);
  position: var(--mixin-1cFPtWnpH2v_position);
  list-style-type: var(--mixin-1cFPtWnpH2v_list-style-type);
  flex-column-gap: var(--mixin-1cFPtWnpH2v_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Zu-4KZk5Akb_display);
  flex-direction: var(--mixin-Zu-4KZk5Akb_flex-direction);
  align-items: var(--mixin-Zu-4KZk5Akb_align-items);
  justify-content: var(--mixin-Zu-4KZk5Akb_justify-content);
  list-style-position: var(--mixin-Zu-4KZk5Akb_list-style-position);
  padding-left: var(--mixin-Zu-4KZk5Akb_padding-left);
  position: var(--mixin-Zu-4KZk5Akb_position);
  list-style-type: var(--mixin-Zu-4KZk5Akb_list-style-type);
  flex-column-gap: var(--mixin-Zu-4KZk5Akb_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-d-1_wEObP6__color);
  font-size: var(--mixin-d-1_wEObP6__font-size);
  font-weight: var(--mixin-d-1_wEObP6__font-weight);
  line-height: var(--mixin-d-1_wEObP6__line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-AM45qrRzwic_color);
  font-size: var(--mixin-AM45qrRzwic_font-size);
  font-weight: var(--mixin-AM45qrRzwic_font-weight);
  line-height: var(--mixin-AM45qrRzwic_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-pyTY8yivvBA_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
